html {
    font-size: 10px;
    box-sizing: border-box;
    overflow-x: hidden;
}
*, *::before, *::after{
    box-sizing: inherit; /*псевдоэлементы наследуют от родителя - html*/
}

body {
    margin: 0 auto;
    width: 144rem;
    font-family: 'Red Hat Text', sans-serif;
    font-style: normal;
    font-size: 1.6rem;
    line-height: 1.2;
    font-weight: normal;
    color:#0D606F ;
    /*базовые стили для бади, чтобы в дальнейшем если что-то добавилось оно унаследовало бы этот стиль*/
}


/* header styles start*/


.background-header-intro {
    background: url(./images/background/garrett-parker-DlkF4-dbCOU-unsplash\ 1.png) no-repeat center;
    height: 76.5rem;
    width: 144rem;
}

.header {
    background: rgba(242, 120, 92, 0.7);
    box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 9rem;
    position: fixed;
    top: 0;
    width: 144rem;
    z-index: 2;
}

.wrapper_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 120rem;
}

.header__navigation{
margin-left: -3.4rem; /**подогнал попиксельно**/
}

.header__list {
    display: flex;
    flex-wrap: wrap;
    width: 52.7rem;
    height: 2.1rem;
    justify-content: space-between;
    padding-inline-start: 0;
    list-style-type: none;
}

.header__link{
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    text-decoration: none;
}

.header__link:hover, .header__link:focus, .header__link:active {
    color: #093d46;
}

.login__button {
    width: 10.3rem;
    height: 4.1rem;
    border-radius: 1rem;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    color: #FFFFFF;
    background: #0D606F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
    border: transparent;
}

.login__button:hover, .login__button:focus, .login__button:active {
    background: #093d46;
}


/* header styles end*/

/* intro styles start*/


.intro {
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: 'Aleo', serif;
    color: #FFFFFF;
    position: relative;
    padding-top: 12.2rem;
}

.wrapper__intro{
    width: 120rem;
    height: 42.2rem;
    margin: 0 auto;

}

.intro__title{
    max-width: 89.2rem;
    margin-block-start: 0;
    margin-block-end: 0;
    font-family: 'Aleo', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    margin-bottom: 3rem;
}

.intro__subtitle{
    font-family: 'Aleo', serif;
    font-style: italic;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 4.6rem;
}

.start-planning__button {
    position: relative;
    left: 646px;
    margin-top: 18px;
    margin-bottom: 18px;
    padding: 13.5px 32px;
    font-family: 'Red Hat Text', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
    background: #0D606F;
    border: transparent;
    box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
    border-radius: 10px;
}

.start-planning__button:hover, .start-planning__button:focus, start-planning__button:active{
    background: #093d46;
}

.search-form__wrap{
    margin: 0;
    padding: 0;
}

.search-form__field{
    width: 892px;
    height: 95px;
    padding:0;
    border-radius: 16px;
    border: none;
    position: absolute;
    background: rgba(255, 255, 255, 0.7);
    padding-left: 41px;
    font-family: 'Aleo', serif;
    font-style: italic;
    font-weight: 400;
    font-size: 24px;
    color: #F2785C;
}

.search-form__field::placeholder{
    font-family: 'Aleo', serif;
    font-style: italic;
    font-weight: 400;
    font-size: 24px;
    color: #F2785C;
}

.search-form__field:focus, .search-form__field:active {
    outline:none;
    background: rgba(255, 255, 255, 0.815);
}


/* intro styles end*/

/* steps styles start*/

.steps {
    width: 117.7rem;
    height: 24.7rem;
    background-color: #FFFFFF;
    margin: 0 auto;
    margin-top: 8rem;
    margin-bottom: 9.7rem;
}

.steps__title {
    margin: 0 auto;
    font-weight: 500;
    font-size: 40px;
    color: #F2785C;
    white-space: nowrap;
    text-align:center;
    margin-bottom: 4.5rem;
}

.steps__cards{
    display: flex;
    justify-content: space-between;
}

.steps__card1{
    width: 24.7rem;
    height: 15.4rem;
    text-align:center;
    margin-right: 75px;
}
.steps__card2 {
    width: 22.2rem;
    height: 15.4rem;
    text-align:center;
}
.steps__card3{
    width: 31.7rem;
    height: 15.4rem;
    text-align:center;
}


.text__steps{
    margin: 0;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #0D606F;
    font-family: 'Aleo', serif;
    font-style: normal;
    white-space: nowrap;
    margin-top: 2.5rem;
}


/* steps styles end*/

/* destinations styles start*/

.destinations__wrapper-full {
    max-width: 252rem;
    margin: 0 auto;
    margin-bottom: 80px;
    overflow: hidden;
}

.steps__title {
    margin-bottom: 50px;
}

.sliders {
    max-width: 252rem;
    display: flex;
    justify-content: center;
    position: relative;
    margin-bottom: 24px;
}


.slide {
    width: 800px;
    height: 800px;
    border-radius: 16px;
    margin-right: 60px;
    border-radius: 16px;
}

.last-slide {
    width: 800px;
    height: 800px;
    border-radius: 16px;
    margin-right: 0;
    border-radius: 16px;
    
}

.countries__names {
    font-family: 'Red Hat Text', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 42px;
    color: #FFFFFF;
    position: absolute;
    transform: translateY(-85px);
    margin: 0 15px;
}

.dots-wrapper{
    text-align:center;
    margin-bottom: 35px;
}

.dot {
    width: 20px;
    height: 20px;
    background: rgba(242, 120, 92, 0.5);
    border-radius: 50%;
    display: inline-block;
    margin: 0 auto;
    margin-right: 10px;
}
.dot:last-child {
    width: 20px;
    height: 20px;
    background: rgba(242, 120, 92, 0.5);
    border-radius: 50%;
    display: inline-block;
    margin: 0 auto;
    margin-right: 0;
}

.dot:focus, .dot:active {
    background: #F2785C;
    outline:none;
}

.see-more__button {
    display: block;
    width: 228px;
    margin: 0 auto;
    padding: 13.5px 32px;
    background: #0D606F;
    border: transparent;
    box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
    border-radius: 10px;
}

.see-more__button:hover, .see-more__button:focus, see-more__button:active{
    background: #093d46;
}

.see-more {
    display: inline-block;
    padding-left: 48px;
    font-family: 'Red Hat Text', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color: #FFFFFF;
    text-decoration: none;
    background: url(./images/arrow.svg) no-repeat left center;
    background-size: 35px 22.5px;
    margin: 0;
}


/* destinations styles end*/

/* Travel Stories styles start*/

.steps__title-travel {
    margin: 0 auto;
    font-weight: 500;
    font-size: 40px;
    color: #F2785C;
    white-space: nowrap;
    text-align:center;
}


.stories__container-1 {
    display: flex;
    margin-bottom: 3rem;
    margin-top: 12rem;
    padding-top: 4rem;
}

.country__stories-img {
    width: 400px;
    height: 250px;
    filter: drop-shadow(0px 4px 4px #0D606F);
    border-radius: 16px;
    margin-right: 4rem;

}
.wrapper__stories{
    width: 120rem;
    margin: 0 auto;

}

.stories-title {
    font-family: 'Aleo', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 42px;
    color: #0D606F;
    margin-top: 0;
    margin-bottom: 2.4rem;

}

.text__country__stories {
    font-family: 'Aleo', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #0D606F;
    margin: 0;
}

.stories__read-more {
    font-family: 'Aleo', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #0D606F;
}

.stories__container{
    display: flex;
    margin-bottom: 3rem;
    margin-top: 0;
}

.stories__container-last{
    display: flex;
    margin-bottom: 4rem;
    margin-top: 0;
}

.travel_stories {
    margin-bottom: 0;
}

.see-more {
    display: inline-block;
    padding-left: 48px;
    font-family: 'Red Hat Text', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color: #FFFFFF;
    text-decoration: none;
    background: url(./images/arrow.svg) no-repeat left center;
    background-size: 35px 22.5px;
    margin: 0;
}

/* Travel Stories styles end*/

/* Footer styles start*/

.footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6.1rem;
    width: 144rem;
    margin-top: 0rem;
}

.footer__items {
    display: flex;
    justify-content: space-between;
    padding-top: 1.4rem;
    padding-bottom: 1.4rem;
    margin-left: 47.1rem;
}

.footer__information {
    font-family: 'Red Hat Text', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
}

.media {
    display: flex;
    justify-content: space-between;
    width: 14.1rem;
    align-items: center;
}

.travel-stories-footer__background {
    background: url(./images/background/backgound__futter.png)center;
    width: 144rem;
    margin-top: -8rem ;
}

.travel-stories__background {
    background: rgba(255, 255, 255, 0.7);
    padding-bottom: 4.1rem;
}

/* Footer styles end*/