html {
    font-size: 10px;
    box-sizing: border-box;
    overflow-x: hidden;
}
body {
    max-width: 1440px;
    overflow: hidden;
    margin: 0 auto;
    font-family: 'Red Hat Text', sans-serif;
    font-style: normal;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;

    /*базовые стили для бади, чтобы в дальнейшем если что-то добавилось оно унаследовало бы этот стиль*/
}
*::before, 
*::after{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box; 
}
a {
    text-decoration: none;
}
ul,
ol,
li {
    list-style: none;
}
img {
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

p {
    margin: 0;
}

:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}

/* header styles start*/

.wrapper {
    max-width: 1440px;
    display: flex;
    flex-direction: column;
}

._container {
    max-width: 1200px;
    margin: 0px auto;
    box-sizing: content-box;
    padding: 0 50px;
}

.header {
    padding: 25px 0 24px 0;
    z-index: 50;
    background: rgba(242, 120, 92, 0.7);
    box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
}

.header__container {
    display: flex;
    align-items: center;
    
}

.header__logo {
    margin: 0 0px 6px 0;
}

.background-header-intro {
    background: url(./images/background/garrett-parker-DlkF4-dbCOU-unsplash\ 1.png) no-repeat center;
    max-width: 1440px;
    background-size: cover;

}

.header__list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding-inline-start: 0px;
    margin: 0;
    line-height: 21px;
    margin-left: 158px;

}

.header__item:not(:last-child) {
    margin-right: 41px;
}

.header__link{
    line-height: 10px;
    color: #FFFFFF;
    text-decoration: none;
}

.header__link:hover, 
.header__link:focus, 
.header__link:active {
    color: #093d46;
}

.login-button {
    display: flex;
    padding: 0;
    border: none;
    border-radius: 10px;
    margin-left: auto;
}

.button, a.button {
    min-height: 41px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #0D606F;
    color: #FFFFFF;
    font-family: 'Red Hat Text', sans-serif;
    font-style: normal;
    font-size: 16px;
    font-weight: 500;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
    border: transparent;
    transition: opacity 0.2s ease;

}
.button:hover, a.button:hover  {
    opacity: 0.8;
    background: #093d46;
    color: #FFFFFF;
}


@media (max-width: 1023px) {
    .header__logo {
        margin: 0 0 6px 0;
    }

    .header__navigation {
        padding: 0 20px;
    }
    .header__item {
        line-height: 30px;
    }
}

@media (max-width: 768px) {
    .header__navigation {
        padding: 0 30px;
    }
    .header__link{
        font-size: 20px;
        line-height: 10px;
        color: #FFFFFF;
        text-decoration: none;
    }
    ._container {
        padding: 0 20px;
    }
    .header__item {
        font-size: 20px;
        line-height: 30px;
    }
}

/* header styles end*/

/* intro styles start*/


.intro {
    color: #FFFFFF;
    max-width: 1440px;
}

.wrapper-intro{
    margin: 0 auto;
    max-width: 1200px;
}

.wrapper-content-intro {
    max-width: 892px;
    min-height: 422px;
    padding: 32px 0 221px 0;
}

.intro__title{
    font-family: 'Aleo', serif;
    font-style: normal;
    font-weight: 700;
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: 80px;
    margin-bottom: 30px;
    line-height: 96px;
}

.intro__subtitle{
    font-family: 'Aleo', serif;
    font-weight: 700;
    font-style: italic;
    font-size: 20px;
    margin-bottom: 46px;
    line-height: 24px;
}


.search-box {
    display: flex;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.7);
    max-width: 855px;
    max-height: 59px;
    border-radius: 16px;
    margin: 0;
    padding: 18px;
}

.search-txt{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    background: none;
    padding: 0 0 0 23px;
    font-family: 'Aleo', serif;
    font-style: italic;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
}

::placeholder {
    color: #F2785C;
}

.start-planning-button {
    padding: 0;
    border: none;
    border-radius: 10px;
    margin-left: auto;
}

.button-big, a.button-big{
    min-height: 59px;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    padding-left: 32px;
    padding-right: 32px;
}




.search-box:hover {
    background: rgba(255, 255, 255, 0.8);
}

.search-box::placeholder{
    font-family: 'Aleo', serif;
    font-style: italic;
    font-weight: 400;
    font-size: 24px;
    color: #F2785C;
}

@media (max-width: 1023px) {
    .search-box {
    width: 94%;
    }
}

@media (max-width: 767px) {
    .search-box {
        width: 94%;
    }
}


/* intro styles end*/

/* steps styles start*/

.steps__wrapper{
    background-color: #FFFFFF;
    margin: 80px 131px 97px 131px;
}

@media (max-width: 1439px) {
    .steps__wrapper{
    margin: 80px 41px 97px 41px;
    }
}



.steps__title {
    display: flex;
    justify-content: center;
    font-weight: 500;
    font-size: 40px;
    color: #F2785C;
    text-align:center;
    margin: 0 0 43px 0;
}

.steps__cards{
    display: flex;
    justify-content: space-between;
    text-align:center;
}

@media (max-width: 1023px) {
    .steps__cards{
        flex-direction: column;
        gap: 40px;
    }
}

.steps__card1{
    margin-right: 4.9%;
}

@media (max-width: 1023px) {
    .steps__card1{
        margin-right: 0;
    }
}

.steps__card2-3 {
    
}

.text__steps{
    margin: 0;
    font-weight: 400;
    font-size: 20px;
    color: #0D606F;
    font-family: 'Aleo', serif;
    font-style: normal;
    white-space: nowrap;
    margin-top: 30px;
}

@media (max-width: 1023px) {
    .text__steps{
        font-size: 25px;
        margin-top: 20px;
    }
}


/* steps styles end*/

/* destinations styles start*/

.destinations__wrapper-full {
    display: flex;
    justify-content: center;
    max-width: 2520px;
    margin: 0 0 85px 0;
}


.sliders {
    display: flex;
    gap: 60px;
    justify-content: center;
    position: relative;
    max-width: 1440px;
    margin-bottom: 20px;
}


.slide {
    width: 800px;
    height: 800px;
    border-radius: 16px;
}

@media (max-width: 1023px) {
    .slide {
        width: 600px;
        height: 600px;
        border-radius: 16px;
    }
}

.countries__names {
    position: absolute;
    transform: translateY(-85px);
    margin: 0 15px;
    font-family: 'Red Hat Text', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 42px;
    color: #FFFFFF;
}

.dots-wrapper{
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-bottom: 40px;
}

.dot {
    width: 20px;
    height: 20px;
    background: rgba(242, 120, 92, 0.5);
    border-radius: 50%;
}


.dot:focus, .dot:active {
    background: #F2785C;
    outline:none;
}

.find-more-button {
    display: flex;
    margin: 0 auto;
    border: none;
    padding: 0;
    border-radius: 10px;
}


/* destinations styles end*/

/* Travel Stories styles start*/


.travel-stories-highlight {
    margin: 0 0 42px 0;
}

.travel-stories-highlight h2 {
    text-align:center;
    font-weight: 500;
    font-size: 40px;
    color: #F2785C;
    margin: 0;
}


.stories-container-first {
    display: flex;
    margin-bottom: 30px;
    padding-top: 40px;
}

.stories-container{
    display: flex;
    margin-bottom: 30px;
    margin-top: 0;
}

.stories-container-last{
    display: flex;
    margin-bottom: 40px;
    margin-top: 0;
}

.country-stories {
    display: flex;
    flex-direction: column;
}

.country__stories-img {
    max-width: 400px;
    max-height: 250px;
    filter: drop-shadow(0px 4px 4px #0D606F);
    border-radius: 16px;
    margin-right: 40px;
}

@media (max-width: 1023px) {
    .country__stories-img {
        margin-right: 20px;
    }
}

.travel-stories-content {
    font-family: 'Aleo', serif;
    font-style: normal;
    font-weight: 400;
    color: #0D606F;
}

.stories-title {
    font-size: 35px;
    line-height: 42px;
    margin: 0;
    margin-bottom: 24px;
    display: flex;
}

@media (max-width: 1023px) {
    .stories-title {
        font-size: 25px;
        line-height: 30px;
        margin-bottom: 15px;
    }
}

.text-country-stories {
    font-size: 20px;
    line-height: 24px;
    margin: 0;
}

.stories-read-more {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #0D606F;
    text-decoration-line: underline;
}

.see-more-button {
    display: flex;
    margin: 0 auto;
    border: none;
    padding: 0;
    border-radius: 10px;    
}

/* Travel Stories styles end*/

/* Footer styles start*/


.footer {
    padding: 13.35px 50px;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.footer-information {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
}

.media-container {
    display: flex;
    justify-content: flex-end;
}

.media {
    display: flex;
    gap: 20px;
}

.travel-stories-footer__background {
    background: url(./images/background/backgound__futter.png) no-repeat;
    max-width: 1440px;
    background-size: cover;
}

.travel-stories__background {
    background: rgba(255, 255, 255, 0.7);
    padding: 0 0 41px 0;
}

/* Footer styles end*/